---
import Base from "@/layouts/Base.astro";
import Article from "@/components/Article.astro";
import CourseCard from "@/components/CourseCard";
import { getCollection, getEntry } from 'astro:content';
import { navigation, siteData } from "@/consts";
import slugify from "slugify";


export async function getStaticPaths() {
  const cases = await getCollection('cases');
  const promises = cases.map(async entry => {
    const courseId = slugify(entry.data.course);
    const course = await getEntry('courses', courseId);
    if(course === undefined) {
      throw new Error("Course is required");    // or: return Astro.redirect('/');
    }

    const curatorId = course.data.curator.toLowerCase();
    const curator = await getEntry('people', curatorId);

    return {
      params: { slug: entry.slug }, props: { entry, course, curator: curator && curator.data},
    }});
  return await Promise.all(promises);
}

const { entry, course, curator } = Astro.props;
const { title, description } = entry.data;
// const { Content } = await entry.render();
---
<Base {navigation} {siteData}>
  <div class="bg-white py-24 sm:py-32 mx-auto max-w-7xl">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-[70%_30%]">
      <Article>
        <p class="text-base font-semibold leading-7 text-indigo-600">{title}</p>
        <h1>{title}</h1>
        <p>{description}</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

      </Article>
      <div class="relative overflow-hidden lg:max-w-lg flex justify-center my-12 lg:m-0 lg:justify-start">
        <CourseCard course={course.data} curator={curator}/>
      </div>
    </div>
  </div>
</Base>
