---
import Base from "@/layouts/Base.astro";
import CourseCard from "@/components/CourseCard";
import { getCollection, getEntry } from 'astro:content';
import { navigation, siteData } from "@/consts";
import slugify from "slugify";


export async function getStaticPaths() {
  const cases = await getCollection('cases');
  const promises = cases.map(async entry => {
    const courseId = slugify(entry.data.course);
    const course = await getEntry('courses', courseId);
    if(course === undefined) {
      throw new Error("Course is required");    // or: return Astro.redirect('/');
    }
    return {
      params: { slug: entry.slug }, props: { entry, course },
    }});
  return await Promise.all(promises);
}

const { entry, course } = Astro.props;
const { title, description } = entry.data;
// const { Content } = await entry.render();
---
<Base {navigation} {siteData}>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-[70%_30%]">

        <article class="prose container overflow-hidden px-10 lg:px-0 lg:max-w-4xl mx-auto
          prose-base md:prose-lg lg:prose-xl
          prose-lead:font-serif prose-lead:text-black dark:prose-lead:text-white
          prose-lead:first-letter:text-3xl
          prose-lead:md:first-letter:text-4xl
          prose-lead:lg:first-letter:text-5xl
          prose-lead:prose-lg md:prose-lead:prose-xl lg:prose-lead:prose-2xl
          dark:prose-invert
          md:prose-h1:text-6xl prose-h1:text-5xl
          prose-blockquote:font-normal prose-blockquote:not-italic
          prose-blockquote:border-secondary
          prose-a:no-underline prose-a:text-secondary-dark hover:prose-a:text-secondary-light
          " transition:name="content" transition:animate="slide">
          <p class="text-base font-semibold leading-7 text-indigo-600">{title}</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{title}</h1>
          <p>{description}</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

        </article>
          <div class="relative overflow-hidden lg:max-w-lg flex justify-center lg:justify-start">
            <CourseCard {...course.data} />
          </div>
      </div>
    </div>
  </div>
</Base>
