---
import Base from "@/layouts/Base.astro";
import Article from "@/components/Article.astro";
import { CourseCard }from "@/offcourse";
import { getCollection } from 'astro:content';
import { getCourseByHabitat } from "@/offcourse/db";
import { navigation, siteData } from "@/consts";

export async function getStaticPaths() {
  const cases = await getCollection('cases');
  const promises = cases.map(async entry => {
    const course = await getCourseByHabitat(`/cases/${entry.slug}`);
    return {
      params: { slug: entry.slug }, props: { entry, course },
    }});

  return await Promise.all(promises);
}

const { entry, course } = Astro.props;
const { title, description } = entry.data;
const { Content } = await entry.render();

---

<Base {navigation} {siteData}>
  <div class="bg-white py-24 sm:py-32 mx-auto max-w-7xl">
    <div class="mx-auto grid grid-cols-1 items-start gap-x-16 sm:gap-y-24 lg:mx-16 lg:max-w-6xl lg:grid-cols-[60%_40%]">
      <Article>
        <p class="text-base font-semibold leading-7 text-indigo-600">{title}</p>
        <h1>{title}</h1>
        <p>{description}</p>
        <Content />
      </Article>
      <div class="relative overflow-hidden flex justify-center my-12 lg:m-0 lg:justify-start">
        <CourseCard course={course} client:load/>
      </div>
    </div>
  </div>
</Base>
