---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;
const { title, published_on, excerpt } = post.data;
---

<article class="flex max-w-xl flex-col items-start justify-between">
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime={String(published_on)} class="text-gray-500">
      {published_on.toDateString()}
    </time>
    <a
      href={''}
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
    >
      Yeehaa
    </a>
  </div>
  <div class="group relative">
    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
      <a href={`/posts/${post.slug}`}>
        <span class="absolute inset-0" />
        {title}
      </a>
    </h3>
    <p class="mt-5 text-sm leading-6 text-gray-600">{excerpt}</p>
  </div>
</article>
