---
import Base from "@/layouts/Base.astro";
import { navigation, siteData } from "@/consts";
import { getCourses } from "@/db/courseDB";
import OffcourseContainer from "@/containers/Offcourse"
import CourseCard from "@/components/CourseCard";

const courses  = await getCourses()
---

<Base {navigation} {siteData}>
  <div class="bg-white py-24 sm:py-32">
    <div class="flex flex-col lg:flex-row lg:gap-x-5 gap-y-5 mx-auto max-w-7xl px-6 lg:px-8">
      <OffcourseContainer courses={courses} client:load>
        { courses.map(course =>  <CourseCard standAlone={false} course={course} client:load/>)}
      </OffcourseContainer>
    </div>
  </div>
</Base>
